EXCEL/ExcelDataAnalysisFD_Examples/Suppliers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="Suppliers" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="Suppliers">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="CompanyName" index-key="CompanyName " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PostalCode" index-key="PostalCode " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="SupplierID " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:tableProperty name="FilterOn" type="1" value="1"/>
<od:tableProperty name="Description" type="10" value="Suppliers&apos; names, addresses, phone numbers, and hyperlinks to home pages."/>
<od:tableProperty name="OrderOn" type="1" value="0"/>
<od:tableProperty name="DatasheetGridlinesBehavior" type="2" value="3"/>
<od:tableProperty name="OrderByOn" type="1" value="1"/>
<od:tableProperty name="OrderBy" type="12" value="Suppliers.SupplierID"/>
<od:tableProperty name="GUID" type="9" value="IhIsucOD0hGXjQCqAGDV+Q==
"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAAiEiy5w4PSEZeNAKoAYNX5AAAAAFFI4071X+JAAAAAAAAAAABTAHUA
cABwAGwAaQBlAHIAcwAAAAAAAAAjEiy5w4PSEZeNAKoAYNX5BwAAACISLLnDg9IR
l40AqgBg1flTAHUAcABwAGwAaQBlAHIASQBEAAAAAAAAACQSLLnDg9IRl40AqgBg
1fkHAAAAIhIsucOD0hGXjQCqAGDV+UMAbwBtAHAAYQBuAHkATgBhAG0AZQAAAAAA
AAAlEiy5w4PSEZeNAKoAYNX5BwAAACISLLnDg9IRl40AqgBg1flDAG8AbgB0AGEA
YwB0AE4AYQBtAGUAAAAAAAAAJhIsucOD0hGXjQCqAGDV+QcAAAAiEiy5w4PSEZeN
AKoAYNX5QwBvAG4AdABhAGMAdABUAGkAdABsAGUAAAAAAAAAJxIsucOD0hGXjQCq
AGDV+QcAAAAiEiy5w4PSEZeNAKoAYNX5QQBkAGQAcgBlAHMAcwAAAAAAAAAoEiy5
w4PSEZeNAKoAYNX5BwAAACISLLnDg9IRl40AqgBg1flDAGkAdAB5AAAAAAAAACkS
LLnDg9IRl40AqgBg1fkHAAAAIhIsucOD0hGXjQCqAGDV+VIAZQBnAGkAbwBuAAAA
AAAAACoSLLnDg9IRl40AqgBg1fkHAAAAIhIsucOD0hGXjQCqAGDV+VAAbwBzAHQA
YQBsAEMAbwBkAGUAAAAAAAAAKxIsucOD0hGXjQCqAGDV+QcAAAAiEiy5w4PSEZeN
AKoAYNX5QwBvAHUAbgB0AHIAeQAAAAAAAAAsEiy5w4PSEZeNAKoAYNX5BwAAACIS
LLnDg9IRl40AqgBg1flQAGgAbwBuAGUAAAAAAAAALRIsucOD0hGXjQCqAGDV+QcA
AAAiEiy5w4PSEZeNAKoAYNX5RgBhAHgAAAAAAAAALhIsucOD0hGXjQCqAGDV+QcA
AAAiEiy5w4PSEZeNAKoAYNX5SABvAG0AZQBQAGEAZwBlAAAAIOsTAAAAAAAAAAAA
AAAAAAAAAAAMAAAAAgAAAAAAAAAAAAAAAAAAAFQAaABpAHMAIABuAGEAbQBlACAA
bQBhAHAAIAB3AGEAcwAgAGMAcgBlAGEAdABlAGQAIABpAG4AIABBAGMAYwBlAHMA
cwAgAFYAMQAxACAAbwByACAAaABpAGcAaABlAHIAAAA=
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SupplierID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Description" type="10" value="Number automatically assigned to new supplier."/>
<od:fieldProperty name="ColumnWidth" type="3" value="1215"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Caption" type="12" value="Supplier ID"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="IxIsucOD0hGXjQCqAGDV+Q==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CompanyName" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="1"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="3735"/>
<od:fieldProperty name="Caption" type="12" value="Company Name"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="JBIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ContactName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2535"/>
<od:fieldProperty name="Caption" type="12" value="Contact Name"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="JRIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ContactTitle" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2610"/>
<od:fieldProperty name="Caption" type="12" value="Contact Title"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="JhIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Address" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Description" type="10" value="Street or post-office box."/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2985"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="JxIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="City" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1380"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="KBIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Region" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Description" type="10" value="State or province."/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="870"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="KRIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PostalCode" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1290"/>
<od:fieldProperty name="Caption" type="12" value="Postal Code"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="KhIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Country" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1185"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="KxIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Phone" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Description" type="10" value="Phone number includes country code or area code."/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1440"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="LBIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="24"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Fax" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="Description" type="10" value="Phone number includes country code or area code."/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="ColumnWidth" type="3" value="1440"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="LRIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="24"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="HomePage" minOccurs="0" od:jetType="hyperlink" od:sqlSType="ntext" od:hyperlink="yes">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="3405"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="Supplier&apos;s home page on World Wide Web."/>
<od:fieldProperty name="Caption" type="12" value="Home Page"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="GUID" type="9" value="LhIsucOD0hGXjQCqAGDV+Q==
"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
